# Commented sections below can be used to run tests on the CI server
# https://simulatedgreg.gitbooks.io/electron-vue/content/en/testing.html#on-the-subject-of-ci-testing
version: 0.0.1.{build}

branches:
  only:
    - master

image: Visual Studio 2017
platform:
  - x64

cache:
  - node_modules
  - '%APPDATA%\npm-cache'
  - '%USERPROFILE%\.electron'
  - '%USERPROFILE%\AppData\Local\Yarn\cache'

init:
  - git config --global core.autocrlf input

install:
  - ps: Install-Product node 20 x64
  - npm install pnpm -g
  - git reset --hard HEAD
  - pnpm config set ignore-engines true
  - pnpm
  - node --version

build_script:
  #- yarn test
  - pnpm build

test: off

artifacts:
  - path: release\JumpServer Video Player Setup 1.0.0.exe
    name: JumpserverVideoPlayer
