::-webkit-scrollbar {
  width:14px;
}
::-webkit-scrollbar-track {
  border-radius:10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: 8px 10px 20px #C6C6C6 inset;
  border: 3px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: 8px 10px 20px #878787 inset;
}

#terminal {
  .asciinema-player, pre {
    height: calc(100% - 20px)!important;
    width: 99%!important;
    padding-bottom: 20px;
  }
  pre {
    overflow-y: scroll;
  }
}
